<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="scolabs.com.tenine"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="tenine.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1"/>
        <meta-data
            android:name="AA_MODELS"
            android:value="scolabs.com.tenine.model.User, scolabs.com.tenine.Comment, scolabs.com.tenine.Show"/>

        <activity
            android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CommentActivity"
            android:alwaysRetainTaskState="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/live_comment"
            android:label="@string/title_activity_comment"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".ui.CommentList"
            android:label="@string/title_activity_comment"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".ui.Register"
            android:label="Register">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".WriteComment"
            android:label="Write Comment"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".AllShowFragment"
            android:alwaysRetainTaskState="true"
            android:label="Shows Managemnt">
        </activity>

        <service
            android:name=".utils.NotificationsService"
            android:exported="false"
            android:process=":my_process">
        </service>
        <service
            android:name=".services.LocalService"
            android:exported="false"
            android:process=":local_service">
        </service>

        <activity
            android:name=".services.NotificationView"
            android:label="@string/title_activity_notification_view">
        </activity>
        <activity
            android:name=".Settings"
            android:icon="@drawable/ic_app"
            android:label="@string/title_activity_settings">
        </activity>
    </application>

</manifest>
