<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="scolabs.com.tenine" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="tenine.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="scolabs.com.tenine.model.User" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CommentActivity"
            android:alwaysRetainTaskState="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/live_comment"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".ui.CommentList"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".ui.Login"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
